<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Expense</title>
</head>
<body>

    <h1>Add Expense</h1>

    <form method="POST">
        <input type="number" step="0.01" name="amount" placeholder="Amount" required>
        <input type="text" name="category" placeholder="Category" required>
        <input type="text" name="description" placeholder="Description" required>

        <button type="submit">Add expense</button>
    </form>

    <a href="/dashboard">Back to dashboard</a>

</body>
</html>